:root {
  --font-color-navi: #1d1d1d;
  --font-color-hover: #dad6d6;
  --font-color-main: #1d1d1d;
  --font-color-card: #dad6d6;

  --font-size-400: 1rem;
  --font-size-500: 1.25rem;
  --font-size-600: 1.5rem;
  --font-size-700: 1.75rem;
  --font-size-800: 2rem;
  --font-size-900: 3rem;

  --background-navi: #dad6d6;
  --background-navi-solid: rgba(30, 187, 163, 1);
  --background-navi-darken-main: rgba(29, 29, 29 0.6);
  --background-navi-hover: #1d1d1d;
  --background-main: #dad6d6;
  --background-card: rgba(30, 187, 163, 0.4);

  --hightlight-color-400: rgb(30, 187, 163);

  --padding-inline: calc(10vw - 0.5rem);
}
