:root {
  --font-color-navi: #1d1d1d;
  --font-color-hover: #cfced1;
  --font-color-main: #1d1d1d;

  --font-size-400: 1rem;
  --font-size-500: 1.25rem;
  --font-size-600: 1.5rem;
  --font-size-700: 1.75rem;
  --font-size-800: 2rem;
  --font-size-900: 3rem;

  --background-navi: #cfced1;
  --background-navi-hover: #1d1d1d;
  --background-main: #cfced1;

  --hightlight-color-400: #8a4baf;

  --padding-inline: calc(10vw - 0.5rem);
}
