.cardContainer {
  display: flex;
  background-color: var(--background-card);
  color: var(--font-color-card);
  padding: 0;
  border-radius: 2rem;
  max-width: 25vw;
  min-width: 300px;
  position: relative;
  overflow: hidden;
  opacity: 0.1;
  transform: translateY(50%);
  filter: blur(5px);
  transition: all 2s;
}

@media (prefers-reduced-motion) {
  .cardContainer {
    transition: none;
  }
}

.cardLink {
  text-decoration: none;
  color: inherit;
  display: inline;
}

.cardName {
  background-color: var(--background-card);
  color: var(--font-color-card);
  font-weight: 700;
  font-size: 2rem;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  left: 0;
  padding-block: 1rem;
}

@media screen and (min-width: 992px) {
  .cardContainer .cardName {
    visibility: hidden;
  }

  .cardContainer:hover .cardName {
    visibility: visible;
    animation-duration: 1.5s;
    animation-name: fadeInBottom;
  }

  @keyframes fadeInBottom {
    0% {
      opacity: 0;
      transform: translateY(20%);
      background-color: transparent;
    }
    100% {
      background-color: var(--background-card);
      opacity: 1;
    }
  }

  .cardContainer:hover {
    box-shadow: 15.6px 16.5px 19.3px -7px rgba(0, 0, 0, 0.029),
      18.6px 19.7px 21.1px -7px rgba(0, 0, 0, 0.035),
      22.5px 23.7px 22px -7px rgba(0, 0, 0, 0.037),
      32.3px 34.1px 25.1px -7px rgba(0, 0, 0, 0.038),
      55px 58px 36px -7px rgba(0, 0, 0, 0.04);
  }
}
