.teamMemberList {
  display: grid;
  grid-template-columns: minmax(250px, 1fr);
  grid-gap: 5rem;
  justify-items: center;
  margin: 0;
  padding: 0;
  padding-bottom: 5rem;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}
